body {
    font-family: 'Ubuntu';
}

button {
    font-family: 'Ubuntu';
    color: greenyellow;
}

input[type='text'] {
    font-family: 'Ubuntu';
    
}

input[type='submit'] {
    cursor: pointer;
    color: blue;
}

a {
    cursor: pointer;
}

li {
    padding: 20px;
}